name: Release
on:
  workflow_dispatch:
    inputs:
      component:
        description: 'Version component to increment'
        required: true
        default: 'patch'
jobs:
  build:
    name: Create Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Get Version Number
        uses: fwilhe2/bump-version@main
        id: bump
        with:
          component: ${{ github.event.inputs.component }}

      - run: echo New Version Number ${{ steps.bump.outputs.newVersion }}

      - name: Create Release
        run: |
          gh release create ${{ steps.bump.outputs.newVersion }} --title "Release ${{ steps.bump.outputs.newVersion }}" --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
